<div class="form-container">
  <form [formGroup]="templateForm" (ngSubmit)="send()">
    <div class="form-group">
      <label for="templateName">Template:</label>
      <select id="templateName" formControlName="templateName">
        <option *ngFor="let option of templateOptions" [value]="option.value">{{ option.label }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="message">Mensaje:</label>
      <input id="message" formControlName="message" type="text">
    </div>

    <div class="form-group">
      <label for="destinations">Destinatarios:</label>
      <input id="destinations" formControlName="destinations" type="text">
    </div>
    <button type="submit" class="submit-button">Enviar</button>
  </form>
</div>
